services:
  redis:
    image: redis:7-alpine
    command: ["redis-server"]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  user-db:
    image: mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: secret
    volumes:
      - user-data:/data/db
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD",
          "mongo",
          "admin",
          "-u",
          "admin",
          "-p",
          "secret",
          "--eval",
          "db.adminCommand('ping')",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  student-db:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: studentdb
    volumes:
      - student_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d studentdb"]
      interval: 10s
      timeout: 5s
      retries: 5

  class-db:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: classdb
    volumes:
      - class_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d classdb"]
      interval: 10s
      timeout: 5s
      retries: 5

  tuition-db:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: tuitiondb
    volumes:
      - tuition_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d tuitiondb"]
      interval: 10s
      timeout: 5s
      retries: 5

  teacher-db:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: teacherdb
    volumes:
      - teacher_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d teacherdb"]
      interval: 10s
      timeout: 5s
      retries: 5

  auth:
    build:
      context: .
      dockerfile: auth-service/Dockerfile
    image: classroom-user:dev
    container_name: user
    ports:
      - "3001:3001"
    volumes:
      - ./auth-service:/app:delegated
      - ./shared-libs:/app/shared-libs:delegated
      - /app/node_modules
    env_file:
      - "./auth-service/.env"
    environment:
      - MONGO_USERNAME=admin
      - MONGO_PASSWORD=secret
      - MONGO_HOST=user-db
      - MONGO_DB=userdb
      - CHOKIDAR_USEPOLLING=true
      - APP_ENV=development
    depends_on:
      - user-db

  student:
    build:
      context: .
      dockerfile: student-service/Dockerfile
    image: classroom-student:dev
    container_name: student
    ports:
      - "3002:3002"
    volumes:
      - ./student-service:/app:delegated
      - ./shared-libs:/app/shared-libs:delegated
      - /app/node_modules
    environment:
      - DATABASE_URL=postgresql://admin:secret@student-db:5432/studentdb?schema=public
      - DIRECT_URL=postgresql://admin:secret@student-db:5432/studentdb?schema=public
      - CHOKIDAR_USEPOLLING=true
      - APP_ENV=development
    env_file:
      - ./student-service/.env
    depends_on:
      - student-db

  class:
    build:
      context: .
      dockerfile: class-service/Dockerfile
    image: classroom-class:dev
    container_name: class
    ports:
      - "3003:3003"
    volumes:
      - ./class-service:/app:delegated
      - ./shared-libs:/app/shared-libs:delegated
      - /app/node_modules
    environment:
      - DATABASE_URL=postgresql://admin:secret@class-db:5432/classdb?schema=public
      - DIRECT_URL=postgresql://admin:secret@class-db:5432/classdb?schema=public
      - CHOKIDAR_USEPOLLING=true
      - APP_ENV=development
    env_file:
      - ./class-service/.env
    depends_on:
      - class-db

  tuition:
    build:
      context: .
      dockerfile: tuition-service/Dockerfile
    image: classroom-tuition:dev
    container_name: tuition
    ports:
      - "3004:3004"
    volumes:
      - ./tuition-service:/app:delegated
      - ./shared-libs:/app/shared-libs:delegated
      - /app/node_modules
    environment:
      - DATABASE_URL=postgresql://admin:secret@tuition-db:5432/tuitiondb?schema=public
      - DIRECT_URL=postgresql://admin:secret@tuition-db:5432/tuitiondb?schema=public
      - CHOKIDAR_USEPOLLING=true
      - APP_ENV=development
    env_file:
      - ./tuition-service/.env
    depends_on:
      - tuition-db

  teacher:
    build:
      context: .
      dockerfile: teacher-service/Dockerfile
    image: classroom-teacher:dev
    container_name: teacher
    ports:
      - "3005:3005"
    volumes:
      - ./teacher-service:/app:delegated
      - ./shared-libs:/app/shared-libs:delegated
      - /app/node_modules
    env_file:
      - ./teacher-service/.env
    environment:
      - DATABASE_URL=postgresql://admin:secret@teacher-db:5432/teacherdb?schema=public
      - DIRECT_URL=postgresql://admin:secret@teacher-db:5432/teacherdb?schema=public
      - CHOKIDAR_USEPOLLING=true
      - APP_ENV=development
    depends_on:
      - teacher-db

volumes:
  redis_data:
  user-data:
  student_data:
  class_data:
  tuition_data:
  teacher_data:
