# Docker compose dùng cho test database hosting và lambda container
services:
  redis:
    image: redis:7-alpine
    command: ["redis-server"]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  user:
    build:
      context: .
      dockerfile: src/auth-service/Dockerfile.lambda
    image: classroom-user:prod
    container_name: user-prod
    ports:
      - "9001:8080"
    environment:
      - APP_ENV=development
    env_file:
      - ./src/auth-service/.env
      - ./env-prod/.env.user
    volumes:
      - ./src/auth-service:/var/task:delegated
      - ./src/shared-libs:/var/task/shared-libs:delegated
      - /var/task/node_modules
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -sf -X POST http://localhost:8080/2015-03-31/functions/function/invocations \
          -H 'Content-Type: application/json' \
          -d '{
            \"version\":\"2.0\",
            \"routeKey\":\"GET /users/health\",
            \"rawPath\":\"/users/health\",
            \"requestContext\":{
              \"http\":{
                \"method\":\"GET\",
                \"path\":\"/users/health\"
              }
            }
          }' || exit 1"
        ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 20s

  student:
    build:
      context: .
      dockerfile: src/student-service/Dockerfile.lambda
    image: classroom-student:prod
    container_name: student-prod
    ports:
      - "9002:8080"
    environment:
      - APP_ENV=development
    env_file:
      - ./src/student-service/.env
      - ./env-prod/.env.student
    volumes:
      - ./src/student-service:/var/task:delegated
      - ./src/shared-libs:/var/task/shared-libs:delegated
      - /var/task/node_modules
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -sf -X POST http://localhost:8080/2015-03-31/functions/function/invocations \
          -H 'Content-Type: application/json' \
          -d '{
            \"version\":\"2.0\",
            \"routeKey\":\"GET /students/health\",
            \"rawPath\":\"/students/health\",
            \"requestContext\":{
              \"http\":{
                \"method\":\"GET\",
                \"path\":\"/students/health\"
              }
            }
          }' || exit 1"
        ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 20s

  class:
    build:
      context: .
      dockerfile: src/class-service/Dockerfile.lambda
    image: classroom-class:prod
    container_name: class-prod
    ports:
      - "9003:8080"
    environment:
      - APP_ENV=development
    env_file:
      - ./src/class-service/.env
      - ./env-prod/.env.clas
    volumes:
      - ./src/class-service:/var/task:delegated
      - ./src/shared-libs:/var/task/shared-libs:delegated
      - /var/task/node_modules
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -sf -X POST http://localhost:8080/2015-03-31/functions/function/invocations \
          -H 'Content-Type: application/json' \
          -d '{
            \"version\":\"2.0\",
            \"routeKey\":\"GET /classes/health\",
            \"rawPath\":\"/classes/health\",
            \"requestContext\":{
              \"http\":{
                \"method\":\"GET\",
                \"path\":\"/classes/health\"
              }
            }
          }' || exit 1"
        ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 20s

  tuition:
    build:
      context: .
      dockerfile: src/tuition-service/Dockerfile.lambda
    image: classroom-tuition:prod
    container_name: tuition-prod
    ports:
      - "9004:8080"
    environment:
      - APP_ENV=development
    env_file:
      - ./src/tuition-service/.env
      - ./env-prod/.env.tuition
    volumes:
      - ./src/tuition-service:/var/task:delegated
      - ./src/shared-libs:/var/task/shared-libs:delegated
      - /var/task/node_modules
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -sf -X POST http://localhost:8080/2015-03-31/functions/function/invocations \
          -H 'Content-Type: application/json' \
          -d '{
            \"version\":\"2.0\",
            \"routeKey\":\"GET /tuitions/health\",
            \"rawPath\":\"/tuitions/health\",
            \"requestContext\":{
              \"http\":{
                \"method\":\"GET\",
                \"path\":\"/tuitions/health\"
              }
            }
          }' || exit 1"
        ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 20s

  teacher:
    build:
      context: .
      dockerfile: src/teacher-service/Dockerfile.lambda
    image: classroom-teacher:prod
    container_name: teacher-prod
    ports:
      - "9005:8080"
    environment:
      - APP_ENV=development
    env_file:
      - ./src/teacher-service/.env
      - ./env-prod/.env.teacher
    volumes:
      - ./src/teacher-service:/var/task:delegated
      - ./src/shared-libs:/var/task/shared-libs:delegated
      - /var/task/node_modules
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -sf -X POST http://localhost:8080/2015-03-31/functions/function/invocations \
          -H 'Content-Type: application/json' \
          -d '{
            \"version\":\"2.0\",
            \"routeKey\":\"GET /teachers/health\",
            \"rawPath\":\"/teachers/health\",
            \"requestContext\":{
              \"http\":{
                \"method\":\"GET\",
                \"path\":\"/teachers/health\"
              }
            }
          }' || exit 1"
        ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 20s

volumes:
  redis_data: